<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbar-list-4">

    <ul class="navbar-nav ml-auto">
      <li>
        <a type="button" class="col-auto btn" [routerLink]="['/products']">
          <i class="fa fa-home text-white fs-2"></i></a>
      </li>
      <li>
        <a type="button" class="col-auto btn" [routerLink]="['/favorites']">
          <i class="fa fa-heart text-white fs-2"></i></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{userLog[0]?.nombres_y_apellidos}}
          <img src="../../../assets/images/profile.png" width="50" class="rounded-circle" alt="">
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/login" (click)="logout()">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>